{% extends "layouts/base.twig" %}

{% block content %}
    <div class="l-site  is-flickering">

        <div class="screen">

            {% include 'modules/m-intro.twig' %}

            <section class="m-shows">
                <a class="on-air__element" href="/live" js-magnet="-scale">
                    <span>ON AIR: <strong></strong></span>
                </a>
                <div class="embed-live not-live"></div>
                <div class="fixed-event">
                    <div>
                        <a href="https://www.youtube.com/playlist?list=PLIeorZT9hnm7B1i6ud9sVy5YgvQgQPKfX" target="_blank">
                            <img js-magnet="-scale" src="/assets/img/buongiornissimo.gif" alt="">
                        </a>
                        <a href="https://www.youtube.com/playlist?list=PLIeorZT9hnm7B1i6ud9sVy5YgvQgQPKfX" target="_blank" class="text-gif" js-magnet="-scale">
                            <strong>Buongiornissimo! Arcade!</strong><br>
                            Mon to Fri @ 8 AM CET
                        </a>
                    </div>
                    <div>
                        <a href="https://www.youtube.com/playlist?list=PLIeorZT9hnm5O-glF_3gUp-PM8r5_JA6C" target="_blank">
                            <img js-magnet="-scale" src="/assets/img/postprandiale.gif" alt="">
                        </a>
                        <a href="https://www.youtube.com/playlist?list=PLIeorZT9hnm5O-glF_3gUp-PM8r5_JA6C" target="_blank" class="text-gif" js-magnet="-scale">
                            <strong>Retrogaming Postprandiale</strong><br>
                            Mon to Fri @ 2 PM CET
                        </a>
                    </div>
                </div>
                <!-- <h2 class="m-shows__title -main">Loading Events</h2>
                <ul class="m-list-events"></ul>
                <h2 class="m-shows__title">Older Events</h2>
                <ul class="m-list-old-events"></ul> -->
                <div class="more-info">
                    <a href="https://www.twitch.tv/kenobisboch/events?past_events=true" data-glitch-hover="View older events" js-magnet="-scale">
                        View older events
                    </a>
                </div>
            </section>

        </div>

        <div class="m-av">AV-1</div>

    </div>
{% endblock %}


