{% extends "layouts/base.twig" %}

{% block content %}
    <div class="l-site  is-flickering">

        <div class="screen">

            {% include 'modules/m-intro.twig' %}

            <section class="m-shows">
                <div class="embed-live not-live"></div>
                <div class="fixed-event">
                    <div>
                        <a href="https://www.twitch.tv/kenobisboch">
                            <img js-magnet="-scale" src="https://source.unsplash.com/random/1200x800" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="https://www.twitch.tv/kenobisboch">
                            <img js-magnet="-scale" src="https://source.unsplash.com/random/1200x800" alt="">
                        </a>
                    </div>
                </div>
                <h2 class="m-shows__title -main">Loading Events</h2>
                <ul class="m-list-events"></ul>
                <h2 class="m-shows__title">Older Events</h2>
                <ul class="m-list-old-events"></ul>
                <div class="more-info">
                    <a href="https://www.twitch.tv/kenobisboch/events?past_events=true" data-glitch-hover="View older events" js-magnet="-scale">
                        View older events
                    </a>
                </div>
            </section>

        </div>

        <div class="m-av">AV-1</div>

    </div>
{% endblock %}


