{% extends "layouts/base.twig" %}

{% block content %}
    <div class="l-site  is-flickering">

        <div class="embed-live not-live"></div>

        <div class="screen">

            <a class="on-air__element" href="/live">
                <span>ON AIR: <strong></strong></span>
            </a>

            {% include 'modules/m-intro.twig' %}

            <section class="m-shows">
                <h1 class="m-shows__title">Loading Events</h1>
                <ul class="m-list-events"></ul>
            </section>

            <div class="more-info">
                <a href="https://www.twitch.tv/kenobisboch/events?past_events=true" data-glitch-hover="View older events">
                    View older events
                </a>
            </div>

        </div>

        <div class="m-av">AV-1</div>

    </div>
{% endblock %}


