{% extends "layouts/base.twig" %}

{% block content %}
    <div class="l-site  is-flickering">

        <div class="screen">

            <a class="on-air__element" href="#">
                <span>ON AIR: <strong></strong></span>
            </a>

            {% include 'modules/m-intro.twig' %}

            <section class="m-shows">
                <h1 class="m-shows__title">Loading Events</h1>
                <ul class="m-list-events"></ul>
            </section>

        </div>

        <div class="m-av">AV-1</div>

    </div>
{% endblock %}


