<!DOCTYPE html>
<html>
<head>
    {% include 'modules/m-head.twig' %}
</head>
<body class="no-touch">

    {% block content %}{% endblock %}

    <script src="/assets/js/script.js"></script>

</body>
</html>