@charset 'UTF-8';

// Vendor
@import "_vendor/breakpoint/breakpoint";

// Base
@import '_base/mixins',
        '_base/config',
        '_base/presets',
        '_base/common',
        '_base/helpers';

// Layouts
@import '_layouts/l-base';

// Modules
@import '_modules/m-av',
        '_modules/m-intro',
        '_modules/m-screen',
        '_modules/m-on-air',
        '_modules/m-footer';


.embed-live {
    margin-top: rem(50);
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.6%;
    &.not-live {
        display: none;
    }
    iframe {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
    }
}

.more-info {
    padding: rem(50) 0 rem(50);
    &.-small {
        padding: rem(20) 0 rem(20);
        a {
            padding: rem(10) rem(22);
            font-size: rem(14);
            &:hover {
                &:after, &:before {
                    font-size: rem(14);
                }
            }
        }
    }
    a {
        font-size: calc(8px + 1vw);
        font-weight: bold;
        border: 2px solid #fff;
        display: inline-block;
        padding: rem(15) rem(20);
        position: relative;
        &:hover {
            &:after, &:before {
                font-size: calc(8px + 1vw);
                padding: rem(14) rem(19);
                content: attr(data-glitch-hover);
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                overflow: hidden;
                background: #16191b;
                clip: rect(0, 900px, 0, 0);
            }
            &:before {
                color: red;
                animation: glitch-effect .5s infinite linear alternate-reverse;
            }
            &:after {
                color: #39F9FF;
                animation: glitch-effect .4s infinite linear alternate-reverse;
            }
        }
    }
}
