@charset 'UTF-8';

// Vendor
@import "_vendor/breakpoint/breakpoint";

// Base
@import '_base/mixins',
        '_base/config',
        '_base/presets',
        '_base/common',
        '_base/helpers';

// Layouts
@import '_layouts/l-base';

// Modules
@import '_modules/m-av',
        '_modules/m-intro',
        '_modules/m-screen',
        '_modules/m-on-air',
        '_modules/m-footer';


.embed-live {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.6%;
    &.not-live {
        display: none;
    }
    iframe {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
    }
}
